/diagnose.result
/cache

# Ignore Python cache files
__pycache__/
*.py[cod]

/dots/.config/quickshell/ii/.qmlls.ini

# exp-update
/.update-lock

# custom os-release
/os-release

# Emacs auto backup file
*~
dots/.config/hypr/hyprland/shellOverrides/main.lua
dots/.config/hypr/hyprland/colors.lua
dots/.config/hypr/hyprlock/colors.conf
dots/.config/hypr/custom/env.lua
dots/.config/hypr/custom/execs.lua
dots/.config/hypr/custom/general.lua
dots/.config/hypr/custom/keybinds.lua
dots/.config/hypr/custom/rules.lua
dots/.config/hypr/custom/variables.lua
dots/.config/hypr/custom/scripts/__restore_video_wallpaper.sh
